# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/target/generated-sources/openapi/.openapi-generator-ignore
/target/classes/db/liquigraph/000-master.xml
/target/classes/db/liquigraph/001-create-indexes.xml
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/api/ApiUtil.java
/target/classes/application.yaml
/target/classes/application-dev.yml
/target/classes/application-local.yml
/target/classes/application-prd.yaml
/target/classes/application-uat.yml
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/Audit.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/api/BusinessDomainApi.java
/target/generated-sources/annotations/br/com/jstack/org/catalog/graph/framework/adapter/mapper/BusinessDomainMapperImpl.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/BusinessDomainRequest.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/BusinessDomainResponse.java
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/ErrorResponse.java
/target/generated-sources/openapi/.openapi-generator/FILES
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/liquigraph.properties
/target/classes/logback-spring.xml
/target/classes/api/contract/ms-atomic-sboot-java-org-catalog-graph.yaml
/target/generated-sources/openapi/.openapi-generator/ms-atomic-sboot-java-org-catalog-graph.yaml-generate-api.sha256
/target/ms-atomic-sboot-java-org-catalog-graph-0.0.1.jar.original
/target/maven-archiver/pom.properties
/target/generated-sources/openapi/pom.xml
/target/generated-sources/openapi/README.md
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/api/ResponsibilityTypeApi.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/ResponsibilityTypeRequest.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/ResponsibilityTypeResponse.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/api/SystemAcronymApi.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/SystemAcronymRequest.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/SystemAcronymResponse.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/api/SystemAcronymResponsibilityApi.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/SystemAcronymResponsibilityRequest.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/SystemAcronymResponsibilityResponse.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/api/SystemAcronymTypeApi.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/SystemAcronymTypeRequest.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/SystemAcronymTypeResponse.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/api/TeamApi.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/TeamRequest.java
/target/generated-sources/openapi/src/gen/java/br/com/jstack/org/catalog/graph/model/TeamResponse.java
/target/classes/ValidationMessages.properties
/target/generated-sources/openapi/.openapi-generator/VERSION
