<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <!-- Necessário para usar <springProperty> -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Lê propriedades do Spring -->
    <springProperty scope="context" name="appName"
                    source="spring.application.name"
                    defaultValue="application"/>
    <springProperty scope="context" name="activeProfile"
                    source="spring.profiles.active"
                    defaultValue="default"/>

    <!-- LOCAL: colorido e detalhado -->
    <springProfile name="local">
        <appender name="COLORED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!-- Inclui appName/profile no padrão -->
                <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%logger{36}):
                    [%X{traceId}] %msg | app=${appName} | profile=${activeProfile}%n%throwable
                </pattern>
            </encoder>
        </appender>

        <logger name="org.springframework" level="INFO"/>
        <logger name="br.com.jstack" level="DEBUG"/>

        <root level="DEBUG">
            <appender-ref ref="COLORED_CONSOLE"/>
        </root>
    </springProfile>

    <!-- DES/UAT/PRD: JSON em stdout -->
    <springProfile name="des,uat,prd">
        <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <logLevel/>
                    <threadName/>
                    <loggerName/>
                    <message/>
                    <arguments/>
                    <stackTrace/>
                    <mdc/>
                    <!-- Campos extras vindos do Spring -->
                    <globalCustomFields>{"application":"${appName}","profile":"${activeProfile}"}</globalCustomFields>
                </providers>
            </encoder>
        </appender>

        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="JSON_STDOUT"/>
            <queueSize>500</queueSize>
            <neverBlock>true</neverBlock>
        </appender>

        <logger name="org.springframework" level="INFO"/>
        <logger name="com.zaxxer.hikari" level="DEBUG"/>
        <logger name="br.com" level="DEBUG"/>

        <root level="WARN">
            <appender-ref ref="ASYNC"/>
        </root>
    </springProfile>
</configuration>